<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link rel="stylesheet" type="text/css" href="./styles/login.css">
</head>
<body>
    <header>
        <h2>Bike rental system</h2>
        <nav>
            <ul>
             <form action="/submit" method="post">
               <button type="submit" name="button" value="home">Home</button>
               </form>
          
            </ul>
        </nav>
     </header>
     <div class="main-login">
  <div class="search-form">
    <div class="content">
       <form  action="/VerifyEmail" method="post">
          <p class="p">LOGIN</p>
             <input type="text" name= "email" placeholder="Enter Your Email" required>
              <input type="text" name="user_name" placeholder="user_name" required>  
              <button type="submit">Login</button>        
       </form>
     

     </div>
  </div>
  <div class="footer-div">
    <footer  >
      <div class="col-md-4 d-flex align-items-center">
        <span  class="footer-name">© 2023 Company, Inc</span>
      </div>
    </footer> 
  </div>
</div>
  </body>
</body>
</html>