<!DOCTYPE html>
<html>
<head>
  <title>Bike Rental System</title>
  <link rel="stylesheet" type="text/css" href="./styles/landingpage.css">
</head>
<body>
<header>
   <h2>Bike rental system</h2>
   <nav>
       <ul>
        <form action="/submit" method="post">
          <button type="submit" name="button" value="login">login</button>
          <button type="submit" name="button" value="signup">SignUp</button>
          </form>
       </ul>
   </nav>
</header>

<div class="home-div">
  <div class="para">
    <h1></h1>
  </div>
  <div class="home-div">
    <div class="para">
    </div>
  <div class="search-form">
    <h1 >Ready For Ride</h1>
      <form action="/submit" method="post" id="myForm">
          <select id="dropdown" name="location">
           <option value="Hyderabad">Hyderabad</option>
           <option value="Chennai">Chennai</option>
           <option value="Bangalore">Bangalore</option>
         </select>
           <input type="datetime-local" placeholder="Pickup date and time"><br>
           <input type="text" placeholder="Dropoff location" id="drop-location">
           <input type="datetime-local" placeholder="Pickup date and time">
           <button type="submit" value="login">Search</button>
       </form>
  </div>
  
  </div>
  


</div>


<div class="footer-div">
  <footer  >
    <div class="col-md-4 d-flex align-items-center">
      <span  class="footer-name">© 2023 Company, Inc</span>
    </div>
  </footer> 
</div>

</body>
</html>

