body{
  margin: 0px;
  height: 100vh;
  background-image: url("../images/Bike_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}
header {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient2-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 header h3 ,h2{
  color: #e4e9fd ;
}
  .logo {
    height: 50px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  nav li {
    margin-right: 20px;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  
  nav button {
    color: whitesmoke;
    background-color: #ef8172;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;  
    margin-left: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    display :inline-block; 
    box-sizing :border-box; 
  }
  .search-form {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px;
    height: 450px;
    width: 500px;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-right: 455px;
  }
  .search-form ::before{
    content: '';
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(5px); /* Adjust the value to control the blur intensity */
      z-index: -1;
  }
  .search-form input[type="text"],
  .search-form input[type="datetime-local"], form input[type=password], form input[type=number], form input[type=email] {
    border-radius: 5px;
    border: 10px;
    padding: 15px;
    margin: 25px;
    display :inline-block; 
    box-sizing :border-box; 
  }
  .search-form button[type="submit"] {
    color: whitesmoke;
    background-color: #ef8172;
    border-radius: 5px;
    border: none;
    padding: 10px ;
    width :60%;  
    height: 45px;
    font-size: 18px;
    margin-left: 20%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    display :inline-block; 
    box-sizing :border-box; 
  }
  .search-form p{
    text-align: center;
  }
  .vehicle {
    height: 100px;
  }
  img{
    height: 100%;
  }
  footer {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    text-align: center;
    padding: 10px;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    }

    .footer-name{
      font-size: 18px;
      color: whitesmoke;
      font-weight: bold;
      margin-left: 20px;
    }
   .home-div{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin: 0px;
  height: 100vh;
  background-image: url("../images/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
   
  
  }
  .para{
  height: 300px;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
  
  }
  